
@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');

*{
    box-sizing: border-box;
}

html,
body {
    margin: 0px;
    overflow-x: hidden;
    background-color: black;
}

h1:hover,h2:hover,h3:hover,h4:hover,h5:hover,h6:hover{
    cursor: default;
}

.logolink{
    padding: 1px;
    border: 1px;
    margin: 1px;
}

.pagelogo {
    font-weight: bolder;
    float: left;
    font-size: xx-large;
    font-family:'Brush Script MT' cursive;
    text-shadow: 1px 1px 4px black;
    border: 10px;
}

#pagelogoicon {
    height: 40px;
}

.smalllogo{
    width : 30px;
    height: 30px;
    float: left;
}

.navbar {
    background-color: rgba(255, 255, 240, 0.503);
    padding: 5px;
    text-align: right;
    overflow-x: hidden;

}

.pages {
    text-transform: capitalize;
    color: ivory;
    padding: 10px;
    border: 10px;
    text-decoration: none;
    font-size: larger;
    text-shadow: 20%;
    font-weight: 200;
}

.pages:hover {
    color: white;
    transition-duration: 5s;
    border: 0.1px;
    border-bottom-style: solid;
}

.matter1 {
    padding: 10px;
}

.button{
    transition-duration: 0.4s;
    font-family:'Brush Script MT' cursive;
    display: inline-block;
    text-align: center;
    text-transform: capitalize;
    padding: 10px;
    border: 1px;
    margin: 10px;
    font-weight: bolder;
    border-radius: 4px;
}

.button:hover {
    color: white;
    background: #09568d;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
}

.thumbnail {
    position: relative;
    display: inline-block;
}

.caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    text-align: center;
    font-size: larger;
    color: white;
    font-weight: bolder;
    font-size: xx-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}

.aboutsection{
    /* text-align: center; */
    color: white;
    background-color: black;
    font-size: x-large;
    overflow-x: hidden;
    padding: 5px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.box-heading{
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
}

.box-matter{
    font-weight: bolder;
    font-size: x-large;
}

.boxsize{
    float: left;
    width:25%;
    text-align: center;
    color: white;
    border-radius: 90%;
}

.boxsize:hover{
    background-color: rebeccapurple;
    transition-duration: 1s;
    border-radius: 100%;
    cursor: pointer;
}

.coursesimages{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
    text-align: center;
    background-color: rgb(255, 0, 128);
    margin: 0px;
    border: 0px;
    padding: 1px;
    border-radius: 4em;
    border-color: skyblue;
}

.course-image-animating{
    width: 33%;
    height: 21em;
    transition-duration: 1s;
    position: relative;
}

.our-featured-courses{
    text-align: center;
    color: white;
    font-weight: 900;
    background-color: rgb(255, 0, 128);
    border-radius: 1.5em;
    font-size: x-large;
    padding: 20px;
}

.container-for-courses{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.course-gallery{
    width: 400px;
    height: 270px;
    object-fit: cover;
    object-position: center;
    transition: 0.6s;
    padding: 8px;
}

.course-gallery:hover{
    transition: 0.6s;
    cursor: pointer;
    padding: 0px;
}

.course-image-animating:hover{
    background-color: aqua;
    border-radius: 50%;
    transition-duration: 1s;
    cursor: pointer;
    transition: 0.5s;
}

.your-instructor{
    padding-top: 20px;
    text-align: center;
    
}
.insertborder{
    padding: 1px;
    border-radius: 2em;
    border-color: whitesmoke;
    margin: 2px;
}

.icon-admin{
    float: left;
    margin: 0px;
    width: 20%;
    overflow-x: hidden;
}

.icon-admin:hover{
    background-color: aqua;
    border-radius: 100%;
    transition-duration: 1s;
    cursor: pointer;
}

.admin-intro{
    padding: 50px;
    color: #FFA500;
    font-weight: 900;
    font-size: xx-large;
    font-style: italic;
}

.coursesimages-text-end{
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    /* color:white; */
    padding: 15px;
    margin: 0px;
    
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding:10px;
    margin: 10px;
    border:10px;
}

.video-podcast-blog{
    width: 500px;
    height: 300px;
    transition-duration: 1s;
}
.video-podcast-blog:hover{
    border-radius: 50%;
    cursor: pointer;
}

.premium{
    color: white;
    /* background-color: aqua; */
    font-size: x-large;
    text-align: center;
    padding-bottom: 520px;
    margin: 0px;
}

.premium-box{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: white;
    float: left;
    width: 33.3%;
    font-size: larger;
    transition-duration: 1s;
    border-radius: 2em;
}

.premium-box:hover{
    box-shadow: 2px 2px 2px 2px white;
    transition-duration: 1s;
    background-color: brown;
    cursor: default;
}

.items{
    list-style: none;
    text-align: left;
    color: white;
    font-size: large;
    border-color: white;
}

input[type=text],input[type=email], label>p,select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
  
input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}          

.container {
    background-color: #f2f2f2;
    padding: 20px;
}

.green-button{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.green-button:hover{
    background-color: #45a049;
}


footer{
    background-color: rgba(255, 255, 240, 0.503);
    padding : 5px;
    margin: 0px;
    overflow-x: hidden;
}

.footer{
    text-align: right;
    padding:1px;
    font-size: 12px;
}

.footerpages{
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: capitalize;
    font-size: small;
    font-weight: 200;
    padding: 6px;
}

.footerpages:hover{
    color: rgb(220, 178, 178);
}

.icons{
    width: 48px;
    padding:5px;
    float: centre;
}

.follow-us{
    padding:1px;
    border:1px;
    margin:1px;
    font-family: 'Comforter Brush', cursive;
    font-size: medium;
    font-weight: 500;
    text-align: right;
}

.icons:hover{
    opacity: 70%;
}

@media only screen and (max-width: 561px) {
    .boxsize{
    float: center;
    width:25%;
    text-align: center;
    color: white;
    border-radius: 90%;
}
.box-heading{
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: smaller;
}

.box-matter{
    font-weight: bolder;
    font-size: small;
}
.premium-box{
    font-size: small;
}

}
@media only screen and (max-width: 561px) {
    .matter1 {
        padding: 1px;
        font-size: x-small;
    }

    *{
        font-size: small;
    }
    .admin-intro{
        color: #FFA500;
        font-weight: 900;
        font-size: x-large;
        font-style: italic;
    }
    .caption {
        font-size: medium;
    }
}

@media only screen and (max-width: 1205px) {
    .caption {
        font-size: x-large;
    }
    .items,.premium-box{
        font-size: medium;
    }
}

@media only screen and (max-width: 955px) {
    .caption {
        font-size: 1.2em;
    }
    .items,.premium-box{
        font-size: small;
    }
}

@media only screen and (max-width: 389px) {
    .box-heading{
        font-weight: 900;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: x-small;
    }

    .box-matter{
        font-weight: bolder;
        font-size: smaller;
    }
    .items,.premium-box{
        font-size: x-small;
    }
}

@media only screen and (max-width: 314px) {
    .box-heading{
        font-weight: 900;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: xx-small;
    }

    .box-matter{
        font-weight: bolder;
        font-size: xx-small;
    }
}

@media only screen and (max-width: 314px){
    .box-matter{
        font-weight: bolder;
        font-size: smaller;
    }

    .items,.premium-box{
        font-size: xx-small;
    }
}